{% extends "base.html" %}
{% block content %}

{{ macros.m_button_group([['globalSettingSaveBtn', '설정 저장']])}}
{{ macros.m_row_start('5') }}
{{ macros.m_row_end() }}

<nav>
  {{ macros.m_tab_head_start() }}
  {{ macros.m_tab_head('normal', '설정', true) }}
  {{ macros.m_tab_head('api', 'API', false) }}
  {{ macros.m_tab_head_end() }}
</nav>
<form id='setting' name='setting'>
  <div class="tab-content" id="nav-tabContent">
    {{ macros.m_tab_content_start('normal', true) }}
    {{ macros.setting_checkbox('use_spotv', '스포TV', value=arg['use_spotv']) }}
    {{ macros.setting_checkbox('use_spotvnow', '스포TV NOW', value=arg['use_spotvnow']) }}
    {{ macros.setting_checkbox('use_popular_vod', '인기영상 VOD', value=arg['use_popular_vod'] ) }}
    {{ macros.setting_checkbox('use_today_vod', '오늘의 추천 VOD', value=arg['use_today_vod'] ) }}
    {{ macros.setting_select('use_spotv_quality', '화질', [['1920x1080','FHD'], ['1280x720','HD'], ['960x540', 'SD']],
    col='3', value=arg['use_spotv_quality'])}}
    {{ macros.setting_radio_with_value('spotv_streaming_type', '스트리밍 타입', [['redirect', 'Redirect'],['direct', 'Direct'] , ['proxy',
    'Proxy']], value=arg['spotv_streaming_type'], desc=[' - Redirect: 가장 좋지만 Player에 따라 10분 후 중지될 수 있습니다. 중지가 안된다면 이
    방법으로 사용하세요. 동일 네트워크의 Tvheadend에 연결할 때 사용합니다.', '- Direct: FF와 Player가 동일 네트워크 일 때 사용합니다. Proxy 옵션보다 성능이 좋습니다.',' - Proxy: 타 네트워크에서 재생할 때 사용합니다. FF가 방송 데이터를 받아서 Player에 보냅니다.']) }}
    {{ macros.m_tab_content_end() }}

    {{ macros.m_tab_content_start('api', false) }}
    {{ macros.info_text_go('api_m3u', 'M3U', value=arg['api_m3u']) }}
    {{ macros.info_text_go('api_yaml', 'YAML', value=arg['api_yaml']) }}
    {{ macros.m_tab_content_end() }}
  </div>
</form>

<script type="text/javascript">

  $("body").on('click', '#yaml_select_btn', function (e) {
    e.preventDefault();
    path_data = $(this).data('path_data');
    globalSelectLocalFile("파일 선택", path_data, function (ret) {
      $('#yaml_path').val(ret);
    });
  });



</script>

{% endblock %}